        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            margin: auto;
        }
        
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #333;
            transition: 0.4s;
            border-radius: 34px;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color:white;
            transition: 0.4s;
            border-radius: 50%;
            border: #333;
        }
        
        input:checked + .slider {
            background-color: white;
            transition: 0.4s;
        }
        
        input:checked + .slider:before {
            transform: translateX(26px);
            transition: 0.4s;
            background-color: #333;
        }
        
/* Styles when toggle is ON */


    /* Dark mode styles */
body.dark-mode {
    --body-bg-color: #333;
            background-color: var(--body-bg-color);
    color: white;
    transition: background-color 0.3s;

}

.dark-mode .navbar.scrolled {
    background-color: #333;
    color: white;
}

.dark-mode .navbar.scrolled .nav-button {
    background-color: #333;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.dark-mode .navbar.scrolled .nav-button {
    color: white;
    border-color: white;
}

.dark-mode .about-info,
.dark-mode .blog-placeholder,
.dark-mode .popup,
.dark-mode .fullscreen-modal {
    background-color: #333;
    color: white;
    transition: background-color 0.3s;
}

.dark-mode .album-image,
.dark-mode .profile-container {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}

.dark-mode .album-container {
    scrollbar-color: #777 #333;
    transition: scrollbar-color 0.3s ease
}

.sidebar {
    background-color: #333;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.dark-mode .navbar.scrolled .logo {
    color: white;
    transition: opacity 0.5s ease-in;
}

.dark-mode .navbar.scrolled .menu-icon {
    color: white
}

.dark-mode .hero {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, var(--body-bg-color) 100%), 
               url('Profiles/profile.jpg') no-repeat center center/cover;
    transition: all 0.5s ease;
}

.dark-mode .profile-container {
    border: 5px solid #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: border 0.3s;
}

.dark-mode .nav-button img {
    filter: invert(100%);
    transition: 0.5s;
}
