body.dark-mode {
    --body-bg-color: #333;
    --dark-main-color: white;
    background-color: var(--body-bg-color);
    color: white;
    transition: background-color 0.3s;
}

.dark-mode .nav-button span {
    color: yellow !important;
    transition: 0.5s;
}

.dark-mode .navbar.scrolled {
    background-color: #333;
    color: white;
    transition: 0.5s ease
}

.dark-mode .navbar.scrolled .nav-button {
    background-color: #333;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-color: white;
}

.dark-mode .about-name {
    color: yellow;
}

.dark-mode .about-info,
.dark-mode .popup,
.dark-mode .fullscreen-modal {
    background-color: #333;
    color: white;
    transition: background-color 0.3s;
}

.dark-mode .blog-placeholder {
    background-color: #333;
    color: white;
    transition: background-color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
}

.dark-mode .album-image,
.dark-mode .profile-container {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.dark-mode .album-container {
    scrollbar-color: #777 #333;
    transition: scrollbar-color 0.3s ease
}

.sidebar {
    background-color: #333;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.dark-mode .logo {
    color: yellow;
    transition: opacity, color 0.5s;
}

.dark-mode .navbar.scrolled .menu-icon {
    color: yellow;
}

.dark-mode .hero {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, var(--body-bg-color) 100%),
        url('Profiles/profile.jpg') no-repeat center center/cover;
    transition: all 0.5s ease;
}

.dark-mode .profile-container {
    border: 5px solid #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: border 0.3s;
}

.dark-mode .nav-button img {
    filter: invert(83%) sepia(100%) saturate(500%) hue-rotate(0deg) brightness(100%) contrast(100%);
    transition: 0.5s;
}

.dark-mode .nav-button span {
    color: var(--dark-main-color);
    transition: 0.5s;
}

.dark-mode .socmed {
    color: yellow;
}