@media (max-width: 480px) {
    .hero-text {
        font-size: 36px;
    }

    .profile-container {
        width: 200px;
        height: 200px;
    }

    .album-container {
        grid-template-columns: 1fr;
    }

    .logo {
     display: flex;
        grid-column: 2!important;
        text-align: center; 
        margin: 0 auto;
        margin-left: auto!important;
        margin-right: auto!important;
        align-items: center !important;
        margin-bottom: 8px
    }

    .nav-links {
        grid-column: 1 / 4;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        z-index: 999;
        gap: 15px;
        margin-right: auto;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-button {
        background-color: transparent;
        padding: 5px;
        padding: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border: none !important;
        box-shadow: none !important;
    }

    .nav-button img {
        display: block;
        max-width: 30px;
        border: none;
    }

    .nav-button span {
      display: none;
        border: none;
    }
}